html {
    font-family: 'Passero One';
}

.head-title {
    font-size: 2rem;
    display: flex;
    margin: 1rem auto;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 70vw;
    height: 100vh;  
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-list {
    width: 100%;
}

.song {
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: 6
}

.play, .stop, .download {
    flex: 1
}